.test{
    /* border: solid 1px black; */
    height: 70px;
    padding-top: 30px;
    width: 200px;
    text-align: center;
}
.testt{
    /* border: solid 1px black; */
    padding-top: 300px;
}
.testtt{

}
h1,h2{
    text-align: center;
}


